<%= form_for :journal do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %><br>
  <%= f.text_area :description, cols: "70", rows: "10" %>
</p>
  <%= f.submit %>
<% end %>