<div class="main_body">
<%= render 'errors', journal: @journal%>

  <h1>Here are all your journals:</h1>

      <% @journals.each do |journal| %>
        <h3> <%= link_to "#{journal.title} ", journal_path(journal) %></h3> <%= link_to "Edit", edit_journal_path(journal) %> | <%= link_to "Delete Journal", journal_path(journal), method: :delete, data: {confirm: "Are you sure? This will delete the connected entries too" } %></p>
        <hr>
        <% end %>

  <h2>Create a new journal:</h2>
  <%= render 'form', journal: @journal %>
</div>