<div class="main_body">
<div class="journal_links">
<%= link_to 'All journals', journals_path %> | 
<%= link_to 'Edit journal details', edit_journal_path %> | 
<%= link_to 'Delete journal', @journal, :method => :delete, :confirm => 'Are you sure?'%> | 
<%= link_to 'New entry', new_journal_entry_path(@journal) %> | 
<%= link_to 'All Entries', journal_entries_path(@journal) %><br>
</div>

<h1>This is: <%= @journal.title %></h1>
    <h2>It's about: <%=@journal.description %> </h2>
    
    <p>There are <%= @entries.count %> entries in this journal.</p>
    <% if @entries.count > 0 %>
        <p>This was the most recent entry:</p>
        <p>Date: <%= @entries.last.date %> <p>
        <p>Content:</p> 
        <p><%= @entries.last.content %></p>
        <p>Moods:</p>
        <p>  
        <% @entries.last.moods.each do|mood| %>
            <%= mood.mood_type %> 
        <% end %>
        <br><br>
        <%= link_to "Edit entry", edit_entry_path(@entries.last) %> | <%= link_to "Delete Entry", entry_path(@entries.last), method: :delete, data: {confirm: "Are you sure?"}%>
        <br>
    <% else %>
        <p>There are no entries yet! Would you like to write one now?</p>
    <% end %>
    <br>
    <%= link_to 'New entry', new_journal_entry_path(@journal) %> 
    <br><br>
</div>