<!DOCTYPE html>
<html>
  <head>
    <title>LifeTrak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
  <nav class="navbar">
    <% if user_signed_in? %>
      <%= link_to 'Journal Entries' %>
      <%= link_to 'Moods' %>
      <%= link_to 'Lists' %>
      <%= link_to 'Log Out', destroy_user_session_path, {method: 'delete'} %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
  </nav>
  

    <%= yield %>

    <footer class="branding">
        <small>&copy; 2020 <strong>J.O'Hara</strong></small>
      </footer>
  </body>
</html>
